name: build-test-deploy
on: push
jobs:
# For each job we need to specify a runner
  build:
    runs-on: ubuntu-latest
    steps:
    # The checkout action is used to refernce code inside our repo, allows our worlkflow to acces the code in this repo 
      - name: checkout repo
        uses: actions/checkout@v4
      - name: use node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - run: npm install
      - run: npm run build
      
    
